 <div class="container page-top">



        <div class="row">


            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                     <img class = "featurette-image img-fluid mx-auto" <%= image_tag "cut_foto_1.jpg" %>
                   

            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                
                   <img class = "featurette-image img-fluid mx-auto" <%= image_tag "cut_foto_2.jpg" %>

            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                
                    <img class = "featurette-image img-fluid mx-auto" <%= image_tag "cut_foto_3.jpg" %>

            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                
                    <img class = "featurette-image img-fluid mx-auto" <%= image_tag "cut_foto_4.jpg" %>

            </div>
            
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                
                    <img class = "featurette-image img-fluid mx-auto" <%= image_tag "cut_foto_5.jpg" %>

            </div>
            
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                
                    <img class = "featurette-image img-fluid mx-auto" <%= image_tag "cut_foto_6.jpg" %>

            </div>
            
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                
                    <img class = "featurette-image img-fluid mx-auto" <%= image_tag "cut_foto_7.jpg" %>

            </div>
            
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                
                    <img class = "featurette-image img-fluid mx-auto" <%= image_tag "cut_foto_8.jpg" %>

            </div>
            
            
           
           
       </div>

     
      

    </div>
