<p id="notice"><%= notice %></p>

<h1>Reservas</h1>

<br>

<div class="container-fluid">
  <div class ="row">
     <div class="col-sm-9">

        <div class="jumbotron resumo_reservas">
          
            <table>
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Check in</th>
                  <th>Check out</th>
                  <th colspan="3"></th>
                </tr>
              </thead>
          
              <tbody>
                <% @meetings_user.each do |meeting| %>
                  <tr>
                    <td><%= meeting.user.name %></td>
                    <td><%= meeting.start_time.to_s(:reserva_time) %></td>
                    <td><%= meeting.end_time.to_s(:reserva_time) %></td>
                    <td><%= link_to 'Detalhar', meeting %></td>
                    <td><%= link_to 'Editar', edit_meeting_path(meeting) %></td>
                    <td><%= link_to 'Deletar', meeting, method: :delete, data: { confirm: 'Você está certo?' } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
        
            <br>
            
            <%= link_to 'Nova Reserva', new_meeting_path %>
      </div>
    </div>
  </div>

 
  <div class ="row">
    <div class="col-sm-12">
      <div class="jumbotron calendario">
  
        <%= month_calendar events: @meetings do |date, meetings| %>
          <%= date %>
  
          <% meetings.each do |meeting| %>
            <div>
              <%= meeting.user.name %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</div>