<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @meeting.name %>
</p>

<p>
  <strong>Data de chegada:</strong>
  <%= @meeting.start_time %>
</p>

<p>
  <strong>Data de saída:</strong>
  <%= @meeting.end_time %>
</p>

<%= link_to 'Editar', edit_meeting_path(@meeting) %> |
<%= link_to 'Voltar', meetings_path %>
