<!DOCTYPE html>
<html>
  <head>
    <title>Saracutacus Hostel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=500, initial-scale=1">

  </head>

  <body>
    <%= render "layouts/barra_navegacao" %>

    <%= yield %>

    <%= render "layouts/footer" %>
  </body>
</html>
